@model IEnumerable<PLVSTIK.Models.Product>
@{
    PLVSTIK.Models.Product[] products = Model.ToArray();
    ViewBag.Title = "Shop";
    ViewBag.HasFeaturedImage = true;
    ViewBag.FeaturedImageUrl = "/Content/uploads/photo-1512436991641-6745cdb1723f.jpeg"; }




<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>
                    Welcome To The Shop <br />
                    <small class="text-muted">Browse Below</small>
                </h1>
                <p>Products will be available for purchase beginning June, 2019.</p>
                <button style="background:#ff5a5a;" class="py-2 text-white btn" data-toggle="modal" data-target="#exampleModal">Click here to pre-order now!</button>
                <a href="/contact" class="btn btn-secondary">Contact Us</a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                @foreach(var gender in ViewBag.Genders)
                {
                    if (gender != ViewBag.MyQSVal["gender"]) // Only show link if it is not currently in the query string
                    {
                        var nameValues = HttpUtility.ParseQueryString(Request.QueryString.ToString());
                        nameValues.Set("gender", gender);
                        string url = Request.Url.AbsolutePath;
                        string updatedQueryString = "?" + nameValues.ToString();
                        // Response.Redirect(url + updatedQueryString);

                        <text><a href="@updatedQueryString">@gender</a></text>
                    }
                }
            </div>
            <div class="col-12">


            @*Sort and Filter form*@
            @using (Html.BeginForm("Index", "Shop", FormMethod.Get, new { order = "empform" }))
{
            @Html.AntiForgeryToken();

            <div class="form-row">
                <div class="form-group col-12 col-md-2">
                    <label class="input-group-text" for="inputGroupSelect01">Sort</label>
                </div>

                <div class="form-group col-12 col-md-3">
                    <select name="gender" class="custom-select" id="inputGroupSelect01">
                        <option value="" disabled selected>Gender...</option>
                        <option @if (ViewBag.Gender == "male") { <text> selected</text> } value="mens">Mens</option>
                        <option @if (ViewBag.Gender == "female") { <text> selected</text> } value="womens">Womens</option>
                    </select>
                </div>

                <div class="form-group col-12 col-md-3">
                    <select name="category" class="custom-select" id="inputGroupSelect02">
                        <option value="" disabled selected>Category...</option>
                        <option @if (ViewBag.Category == "shirts") { <text> selected</text> } value="shirts">Shirts</option>
                        <option @if (ViewBag.Category == "shoes") { <text> selected</text> } value="shoes">Shoes</option>
                        <option @if (ViewBag.Category == "hats") { <text> selected</text> } value="hats">Hats</option>
                    </select>
                </div>

                <div class="form-group col-12 col-md-3">
                    <select name="price" class="custom-select" id="inputGroupSelect03">
                        <option value="" disabled selected>Price...</option>
                        <option @if (ViewBag.Price == "ascending") { <text> selected</text> } value="ascending">$ - $$$</option>
                        <option @if (ViewBag.Price == "descending") { <text> selected</text> } value="descending">$$$ - $</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

            </div>
}


            </div>
            @* TODO: Add filter, sort and search functionality (AJAX?) *@
            @*@Html.DisplayNameFor(Model => Model.Title)*@
            @foreach (var item in Model)
            {
                <div class="col-12 col-md-6 col-lg-3">
                <div class="card text-white bg-primary mb-3" >
                    <img src="@item.ImageUrl" class="card-img-top" alt="...">
                    <div class="card-header">@item.Price</div>
                    <div class="card-body">
                        <h4 class="card-title">@item.Title</h4>
                        <p class="card-text">@item.Description</p>
                    </div>
                </div>
            </div>
                @*@Html.DisplayFor(modelItem => item.Title)*@
            }
            @* Display products *@
            @*@foreach (PLVSTIK.Models.Product product in products)
        {
            if (product.Price > 50.00 && product.Price < 100.00) // Apply discounts depending on the product price
            {
                product.Price = (product.Price * 0.50);
            }
            else if (product.Price > 100.00)
            {
                product.Price = (product.Price * 0.25);
            }
            else
            {
                product.Price = (product.Price * 0.10);
            }
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <img src="@product.ImageUrl" class="card-img-top" alt="...">
                    <div class="card-header">@product.Price</div>
                    <div class="card-body">
                        <h4 class="card-title">@product.Title</h4>
                        <p class="card-text">@product.Description</p>
                    </div>
                </div>
            </div>
        }*@
        </div>
    </div>
</section>


@* Modal popup to display pre-order form *@
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pre-Order Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*Begin form*@
                <form name="pre-order-form" method="post">
                    <fieldset>
                        <div class="form-group">
                            <label for="inputName">Name</label>
                            <input type="text" name="name" class="form-control" id="inputName" placeholder="Enter your name" required />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <fieldset class="form-group">
                            <legend>Select your pre-order items</legend>
                            @*TODO: Require at least one box to be checked*@
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="check1" type="checkbox" value="">
                                    PLVSTIK Purse
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="check2" type="checkbox" value="">
                                    PLVSTIK Shirt
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="check3" type="checkbox" value="">
                                    PLVSTIK Sunglasses
                                </label>
                            </div>
                        </fieldset>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </fieldset>
                </form>
                @*End form*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
